        <!-- Product section-->
        <section class="py-5">
            <div class="container  px-lg-5 ">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-top" 
                        [src]="product.image" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">ID : {{product._id}}</div>
                        <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                        <div class="fs-5 mb-5">
                            <span>${{product.price}}</span>
                        </div>
                        <p class="lead" style="text-align: justify;">{{product.description}}</p>
                        <div class="d-flex justify-content-between">
                            <button (click)="addtowishlist()" class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="fa-solid fa-cart-shopping" style="color: #2bee38;"></i>
                                Add to Wishlist
                            </button>
                            <button (click)="addToCart(product)" class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="fa-solid fa-heart" style="color: #e31635;"></i>
                                Add to cart
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </section>
